

<h1>Eat-Da-Burger!</h1>
<h4>Keeping Track of All the Burgers You've Eaten, An' Wan't To Eat.</h4>




<form action="/" method="POST">

  <div>
    <label for="burgerInput">Enter the name of a burger:</label>
    <input type="text" id="burgerInput" name="burgerInput">
  </div>

  <button type="submit">Add Burger</button>
</form>


